/* @import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Sansita:ital@1&display=swap');

#root {
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
